<article class="dluhc-ticket-panel" aria-label="Sub navigation 1">                            
    <section class="dluhc-ticket-panel__content" aria-label="Section 1">

        <p class="govuk-body">Project ID:
        <br><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">{{ data.completionDate }}</span></p>
        <p class="govuk-body">Completion date:
        <br><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">{{ data.completionDate }}</span></p>
        <p class="govuk-body">Contact person:
        <br><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">{{ data.contactPerson }}</span></p>
        <p class="govuk-body">Section 151 Officer:
        <br><span class="govuk-!-font-size-16 govuk-!-font-weight-bold">{{ data.section151 }}</span></p>                    
    
    </section>
</article>