<article class="dluhc-ticket-panel" aria-label="Sub navigation 1">                            
    <section class="dluhc-ticket-panel__content" aria-label="Section 1">

        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Project:</span> {{ data.projectName }}</p>
                
        <hr class="govuk-section-break--m">
        
        <p class="govuk-body"><span class="govuk-!-font-weight-bold">Reporting period:</span> {{ data.reportPeriod }}</p>
            

        
    
    </section>
</article>