{% extends "layouts/main.html" %}

{% set showBackLink = true %}

{% set pageHeading = "Do you want to add any more project challenges?" %}
{% set pageSection = "Project challenges" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      
	

		<form method="post" action="/project/?report-4-status=Completed" >
            
            {{ govukRadios({
				classes: "govuk-radios--inline",
				name: "projectChallengesAddMore",							
				fieldset: {
				  legend: {
					text: "Do you want to add any further communications?",
					isPageHeading: false,
					classes: "govuk-fieldset__legend govuk-visually-hidden"
					}
				},				
				items: [
				  { value: "Yes~/project/overview/challenges/add/", text: "Yes", checked: checked("projectChallengesAddMore", "Yes")  },
				  { value: "No", text: "No", checked: checked("projectChallengesAddMore", "No")  }
				]
			}) }}
            
			<div class="govuk-button-group">
				{{ govukButton({
				  text: "Continue"
				}) }}
				<!-- {{ govukButton({
				  text: "Save as draft",
				  classes: "govuk-button--secondary"
				}) }} -->
		    </div>

		</form>

  	</div>
	<div class="govuk-grid-column-one-third">
		{% include "includes/reportPeriod.html "%}	
	</div>
</div>

{% endblock %}
