//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.js-enabled .govuk-tabs__panel  {
    border: 0;
    padding-left: 0;
}


.dluhc-ticket-panel {
    display: block;
    margin-right: 0;
    flex-wrap: wrap;
}


.dluhc-ticket-panel__content {
    display: block;
    position: relative;
    background-color: #f3f2f1;
    padding: 20px;        
    flex-grow: 1;
    border-top: 6px solid #1d70b8;
}


li.x-govuk-secondary-navigation__list-item {
    float: right;
    margin: 0 0 0 20px;
}