{{ xGovukAutocomplete({
  id: "country",
  name: "country",
  allowEmpty: false,
  label: {
    classes: "govuk-label govuk-visually-hidden",
    isPageHeading: false,
    text: "Which organisation"
  },
  items: [

  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Bespoke</label></label>
    </div>
  </div>		




  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Amber Valley Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Ashfield District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Barnsley Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Bedford Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Blackburn with Darwen Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Blackpool Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Bolton Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Boston Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Bournemouth, Christchurch and Poole Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Bradford Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Broxtowe Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Buckinghamshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Calderdale Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Charnwood Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Cheshire East Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Cheshire West and Chester Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Chesterfield Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">City of Lincoln Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">City of Wolverhampton Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Colchester City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Cornwall Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Crawley Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Cumberland Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Darlington Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Derby City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Doncaster Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Dover District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Dudley Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Durham County Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">East Lindsey District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">East Riding of Yorkshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">East Staffordshire Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">East Suffolk Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Erewash Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Fenland District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Fylde Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Great Yarmouth Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Halton Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Harlow District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Hartlepool Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Hastings Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Herefordshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">High Peak Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Huntingdonshire District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Ipswich Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">King&#39;s Lynn and West Norfolk</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Kirklees Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Leeds Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Lewes District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">London Borough of Haringey</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">London Borough of Harrow</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">London Borough of Sutton Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">London Borough of Wandsworth</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Mansfield District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Medway Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Middlesbrough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Milton Keynes City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Newark and Sherwood District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Newcastle-under-Lyme Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">North Devon Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">North East Derbyshire District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">North East Lincolnshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">North Lincolnshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">North Northamptonshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Northumberland County Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">North Yorkshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Norwich City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Nottingham City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Nuneaton and Bedworth</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Nuneaton &amp; Bedworth Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Oldham Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Pendle Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Peterborough City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Plymouth City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Portsmouth City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Preston City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Redcar &amp; Cleveland Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Redditch Borough Council </label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Rochdale Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Rotherham Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Royal Borough of Greenwich</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Sandwell Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Sefton Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Sheffield City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Somerset Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">South Gloucestershire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">South Kesteven District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">South Ribble Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">South Tyneside Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Southwark Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Stafford Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Stevenage Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">St Helens Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Stockport Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Stockton-on-Tees Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Stockton-On-Tees Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Sunderland City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Swindon Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Tamworth Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Teignbridge District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Telford &amp; Wrekin Council </label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Thanet District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Thurrock Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Torbay Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Trafford Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Wakefield Metropolitan Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Walsall Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Warrington Borough Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Warwick District Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Westmorland &amp; Furness Council </label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">West Northamptonshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Wigan Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Wiltshire Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Wirral Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Worcester City Council</label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="outcome" name="outcome" type="checkbox" value="Bespoke">
    <label class="govuk-label govuk-checkboxes__label" for="outcome">Wyre Forest District Counci</label>
    </div>
  ]
}) }}


<!-- {{ govukCheckboxes({
  name: "organisationFilter",
  classes: "govuk-checkboxes--small",
  fieldset: {  legend: { text: "Which types of fund?", isPageHeading: false, classes: "govuk-visually-hidden" } },
  hint: { text: "Select all that apply" },
  items: [
	{ value: "1", text: "Amber Valley Borough Council" },
  { value: "1", text: "Ashfield District Council" },
  { value: "1", text: "Barnsley Metropolitan Borough Council" },
  { value: "1", text: "Bedford Borough Council" },
  { value: "1", text: "Blackburn with Darwen Borough Council" },
  { value: "1", text: "Blackpool Borough Council" },
  { value: "1", text: "Bolton Council" },
  { value: "1", text: "Boston Borough Council" },
  { value: "1", text: "Bournemouth, Christchurch and Poole Council" },
  { value: "1", text: "Bradford Council" },
  { value: "1", text: "Broxtowe Borough Council" },
  { value: "1", text: "Buckinghamshire Council" },
  { value: "1", text: "Calderdale Council" },
  { value: "1", text: "Charnwood Borough Council" },
  { value: "1", text: "Cheshire East Council" },
  { value: "1", text: "Cheshire West and Chester Council" },
  { value: "1", text: "Chesterfield Borough Council" },
  { value: "1", text: "City of Lincoln Council" },
  { value: "1", text: "City of Wolverhampton Council" },
  { value: "1", text: "Colchester City Council" },
  { value: "1", text: "Cornwall Council" },
  { value: "1", text: "Crawley Borough Council" },
  { value: "1", text: "Cumberland Council" },
  { value: "1", text: "Darlington Borough Council" },
  { value: "1", text: "Derby City Council" },
  { value: "1", text: "Doncaster Council" },
  { value: "1", text: "Dover District Council" },
  { value: "1", text: "Dudley Metropolitan Borough Council" },
  { value: "1", text: "Durham County Council" },
  { value: "1", text: "East Lindsey District Council" },
  { value: "1", text: "East Riding of Yorkshire Council" },
  { value: "1", text: "East Staffordshire Borough Council" },
  { value: "1", text: "East Suffolk Council" },
  { value: "1", text: "Erewash Borough Council" },
  { value: "1", text: "Fenland District Council" },
  { value: "1", text: "Fylde Council" },
  { value: "1", text: "Great Yarmouth Borough Council" },
  { value: "1", text: "Halton Borough Council" },
  { value: "1", text: "Harlow District Council" },
  { value: "1", text: "Hartlepool Borough Council" },
  { value: "1", text: "Hastings Borough Council" },
  { value: "1", text: "Herefordshire Council" },
  { value: "1", text: "High Peak Borough Council" },
  { value: "1", text: "Huntingdonshire District Council" },
  { value: "1", text: "Ipswich Borough Council" },
  { value: "1", text: "King&#39;s Lynn and West Norfolk" },
  { value: "1", text: "Kirklees Council" },
  { value: "1", text: "Leeds Council" },
  { value: "1", text: "Lewes District Council" },
  { value: "1", text: "London Borough of Haringey" },
  { value: "1", text: "London Borough of Harrow" },
  { value: "1", text: "London Borough of Sutton Council" },
  { value: "1", text: "London Borough of Wandsworth" },
  { value: "1", text: "Mansfield District Council" },
  { value: "1", text: "Medway Council" },
  { value: "1", text: "Middlesbrough Council" },
  { value: "1", text: "Milton Keynes City Council" },
  { value: "1", text: "Newark and Sherwood District Council" },
  { value: "1", text: "Newcastle-under-Lyme Borough Council" },
  { value: "1", text: "North Devon Council" },
  { value: "1", text: "North East Derbyshire District Council" },
  { value: "1", text: "North East Lincolnshire Council" },
  { value: "1", text: "North Lincolnshire Council" },
  { value: "1", text: "North Northamptonshire Council" },
  { value: "1", text: "Northumberland County Council" },
  { value: "1", text: "North Yorkshire Council" },
  { value: "1", text: "Norwich City Council" },
  { value: "1", text: "Nottingham City Council" },
  { value: "1", text: "Nuneaton and Bedworth" },
  { value: "1", text: "Nuneaton &amp; Bedworth Borough Council" },
  { value: "1", text: "Oldham Metropolitan Borough Council" },
  { value: "1", text: "Pendle Borough Council" },
  { value: "1", text: "Peterborough City Council" },
  { value: "1", text: "Plymouth City Council" },
  { value: "1", text: "Portsmouth City Council" },
  { value: "1", text: "Preston City Council" },
  { value: "1", text: "Redcar &amp; Cleveland Borough Council" },
  { value: "1", text: "Redditch Borough Council " },
  { value: "1", text: "Rochdale Borough Council" },
  { value: "1", text: "Rotherham Metropolitan Borough Council" },
  { value: "1", text: "Royal Borough of Greenwich" },
  { value: "1", text: "Sandwell Council" },
  { value: "1", text: "Sefton Metropolitan Borough Council" },
  { value: "1", text: "Sheffield City Council" },
  { value: "1", text: "Somerset Council" },
  { value: "1", text: "South Gloucestershire Council" },
  { value: "1", text: "South Kesteven District Council" },
  { value: "1", text: "South Ribble Borough Council" },
  { value: "1", text: "South Tyneside Council" },
  { value: "1", text: "Southwark Council" },
  { value: "1", text: "Stafford Borough Council" },
  { value: "1", text: "Stevenage Borough Council" },
  { value: "1", text: "St Helens Borough Council" },
  { value: "1", text: "Stockport Metropolitan Borough Council" },
  { value: "1", text: "Stockton-on-Tees Borough Council" },
  { value: "1", text: "Stockton-On-Tees Borough Council" },
  { value: "1", text: "Sunderland City Council" },
  { value: "1", text: "Swindon Borough Council" },
  { value: "1", text: "Tamworth Borough Council" },
  { value: "1", text: "Teignbridge District Council" },
  { value: "1", text: "Telford &amp; Wrekin Council " },
  { value: "1", text: "Thanet District Council" },
  { value: "1", text: "Thurrock Borough Council" },
  { value: "1", text: "Torbay Council" },
  { value: "1", text: "Trafford Council" },
  { value: "1", text: "Wakefield Metropolitan Borough Council" },
  { value: "1", text: "Walsall Council" },
  { value: "1", text: "Warrington Borough Council" },
  { value: "1", text: "Warwick District Council" },
  { value: "1", text: "Westmorland &amp; Furness Council " },
  { value: "1", text: "West Northamptonshire Council" },
  { value: "1", text: "Wigan Council" },
  { value: "1", text: "Wiltshire Council" },
  { value: "1", text: "Wirral Council" },
  { value: "1", text: "Worcester City Council" },
  { value: "1", text: "Wyre Forest District Council" }
  ]
}) }} -->



