{% extends "layouts/main.html" %}

{% set showBackLink = true %}

{% set pageHeading = "Project issues" %}
{% set pageSection = "Issues and risks" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      

		<p>Add any issues you have faced for your project Growing Community Green Spaces. We use this information to:</p>

		
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
			<li>see how problems get solved</li>
			<li>offer you support</li>
			<li>learn from previous issues</li>
		</ul>

		<form method="post" action="" >
		
			{{ govukRadios({				
				name: "projecIssues",
				id: "projecIssues",				
				fieldset: {
				  legend: {
					text: "Do you need to add any project issues?",
					isPageHeading: false,
					classes: "govuk-fieldset__legend--m"
					}
				},				
				items: [
				  { value: "yes", text: "Yes" },
				  { value: "no", text: "No" }
				]
			  }) }}


			<div class="govuk-button-group">
				{{ govukButton({
				  text: "Save"
				}) }}

				{{ govukButton({
				  text: "Save as draft",
				  classes: "govuk-button--secondary"
				}) }}
		  </div>

		</form>


  	</div>
</div>

{% endblock %}
