{% extends "layouts/main.html" %}

{% set showBackLink = true %}

{% set pageHeading = "What’s the financial completion date?" %}
{% set pageSection = "Administration" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      
		
		<p>This is the date the grant funding will be paid by the local authority.</p>

		<form method="post" action="/admin/practical-completion-date" >
            
			{{ govukDateInput({
				id: "adminCompletionDate",
				namePrefix: "adminCompletionDate",
				fieldset: {
					legend: {
						text: pageHeading,
						isPageHeading: false,
						classes: "govuk-fieldset__legend govuk-visually-hidden"
				  	}
				},
				hint: {
					text: "For example, 27 3 2024"
				}
			}) }}            
			
			{{ govukButton({
				text: "Continue"
			}) }}			

		</form>

  	</div>	  
</div>

{% endblock %}
