{% extends "layouts/main.html" %}

{% if data['userType'] != "Section151" %}
{% set showBackLink = true %}
{% endif %}

{% set pageHeading = "Who will be signing off the report?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      


		<form method="post" action="/sign-off/responsible/role" >
		
		
		{{ govukInput({
			label: {
			  text: "Name",
			  classes: "govuk-label",
			  isPageHeading: false
			},                
			classes: "govuk-!-width-two-thirds",
			id: "signOffName",
			name: "signOffName"
		}) }}       
		
		
		{{ govukInput({
			label: {
			  text: "Email address",
			  classes: "govuk-label",
			  isPageHeading: false
			},                
			classes: "govuk-!-width-two-thirds",
			type: "email",
			id: "signOffEmail",
			name: "signOffEmail"
		}) }}  


		<!-- {{ govukInput({
			label: {
			  text: "Role",
			  classes: "govuk-label",
			  isPageHeading: false
			},                
			classes: "govuk-!-width-two-thirds",
			id: "adminContactName",
			name: "adminContactName"
		}) }}    -->

		
			{{ govukButton({
			  text: "Continue"
			}) }}	

		</form>

	</div>  
</div>

{% endblock %}