{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBread = true %}

{% set showNav = true %}

{% set pageHeading = "Users" %}
{% set pageSection = "Warwickshire county council" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      
  </div>
  <div class="govuk-grid-column-full">


    <!-- <h2 class="govuk-heading-m">Project reporters</h2>
    {{ govukButton({
      text: "Add a project reporter"
    }) }} -->


		{{ govukTable({      
      captionClasses: "govuk-table__caption--m",      
      head: [
        { text: "Name", classes: "govuk-!-width-one-quarter" },
        { text: "Role", classes: "govuk-!-width-one-quarter"  },
        { text: "Email", classes: "govuk-!-width-one-third" },
        
        { text: "" }
      ],
      rows: [
        [
          { text: "Kate Harries" },          
          { text: "Section 151 Officer" },
          { text: "alex.smith@localgov.co.uk" },
          { html: '<a href="/users/edit">Change</a>', format: "numeric" }
        ],
        [
        { text: "Gemma Currie" },             
          { text: "Reporter" },
          { text: "alex.smith@localgov.co.uk" },
          { html: '<a href="/users/edit">Change</a>', format: "numeric" }
        ],
        [
        { text: "Gideon Goldberg" },          
          { text: "Senior Reporting Officer (SRO)" },
          { text: "alex.smith@localgov.co.uk" },
          { html: '<a href="/users/edit">Change</a>', format: "numeric" }
        ],
        [
        { text: "Alex Smith" },          
          { text: "Reporter" },
          { text: "alex.smith@localgov.co.uk" },
          { html: '<a href="/users/edit">Change</a>', format: "numeric" }
        ]
      ]
    }) }}


    

    <!-- <h2 class="govuk-heading-m">Senior Reporting Officer (SRO)</h2>
		{{ govukTable({      
      captionClasses: "govuk-table__caption--m",      
      head: [
        { text: "Name", classes: "govuk-!-width-one-quarter" },
        { text: "Email", classes: "govuk-!-width-one-third" },
        { text: "Permissions"  },
        { text: "", classes: "govuk-!-width-one-quarter", format: "numeric" }
      ],
      rows: [
        [
          { text: "Alex Smith" },
          { text: "alex.smith@localgov.co.uk" },
          { text: "Viewing, sign-off" },
          { html: '', format: "numeric" }
        ]        
      ]
    }) }}

    <h2 class="govuk-heading-m">Section 151 Officer</h2>
		{{ govukTable({      
      captionClasses: "govuk-table__caption--m",      
      head: [
        { text: "Name", classes: "govuk-!-width-one-quarter" },
        { text: "Email", classes: "govuk-!-width-one-third" },
        { text: "Permissions"  },
        { text: "", classes: "govuk-!-width-one-quarter", format: "numeric" }
      ],
      rows: [
        [
          { text: "Alex Smith" },
          { text: "alex.smith@localgov.co.uk" },
          { text: "Viewing, sign-off" },
          { html: '', format: "numeric" }
        ]        
      ]
    }) }}
 -->


  </div>
  
</div>

{% endblock %}
