{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set serviceName = "Find monitoring data" %}

{% set pageHeading = "Your link to download data has expired" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      

		

		<p>Your data download link expired on {date}.</p>						
		<p>You can:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="/find/confirmation">request another email with a download link</a> using your previously filtered options</li>
			<li><a href="/find/download-data">create a new data download using new filter options</a></li>
		</ul>
		
		






		<!-- <form method="post" action="/find/confirmation" >

			{{ govukButton({
				text: "Download your data"	
			}) }}

		</form>		
			 -->

  	</div>	  
</div>

{% endblock %}
