{% extends "layouts/main.html" %}

{% set showBackLink = false %}

{% set pageHeading = "User research" %}
{% set pageSection = "Report funding progress" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}        
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">This is the prototype for the Report funding progress (Report) service. The service gives grant recipients a way to report on monitoring and evaluation data. </p>
        <p class="govuk-body">Report aims to replace Submit monitoring and evaluation data (Submit) by iteratively moving away from users inputting information into a spreadsheet to form-based question flows and a task list. </p>
        
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Research flows</h2>
        <p class="govuk-body-s">Session: 18 July 2024 to 25 July 2024</p>


            <form action="/project/report/check-your-answers" method="post" >                    
                {{ govukButton({
                    text: "Complete fund report"
                }) }}
            </form> 

            <form action="/emails/section151" method="post" >                    
                {{ govukButton({
                    text: "Section 151 Officer review"
                }) }}
            </form>             

    </div>
</div>

{% endblock %}
