{% extends "layouts/main.html" %}

{% set showBackLink = true %}

{% set pageHeading = "What category is the risk?" %}
{% set pageSection = "Project risks" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      
	
		<form method="post" action="/project/issues-risks/risks/add/details" >
            

            {{ govukRadios({
				name: "projectRiskCategory",
				id: "projectRiskCategory",
				fieldset: {
				  legend: {
					text: "Select an option to update your RIBA reporting stage",
					isPageHeading: true,
					classes: "govuk-fieldset__legend govuk-visually-hidden"
				  }
				},
				items: [
				  { value: "Category 1", text: "Category 1", checked: checked("projectRiskCategory", "Category 1") },
				  { value: "Category 2", text: "Category 2", checked: checked("projectRiskCategory", "Category 2") },
				  { value: "Category 3", text: "Category 3", checked: checked("projectRiskCategory", "Category 3") },
				  { value: "Category 4", text: "Category 4", checked: checked("projectRiskCategory", "Category 4") },
				  { value: "Category 5", text: "Category 5", checked: checked("projectRiskCategory", "Category 5") }
				]
			}) }}           

			<div class="govuk-button-group">
				{{ govukButton({
				  text: "Save and continue"
				}) }}
				<!-- {{ govukButton({
				  text: "Save as draft",
				  classes: "govuk-button--secondary"
				}) }} -->
		  	</div>

		</form>

  	</div>
	<div class="govuk-grid-column-one-third">
		{% include "includes/reportPeriod.html "%}	
	</div>
</div>

{% endblock %}