{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBread = false %}
{% set showNav = true %}

{% set pageHeading = "Reporting period July 2023 to September 2023" %}
{% set pageSection = ' ' + data.projectName + ' ' %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      


		<!-- {% set html %}
  			<p class="govuk-notification-banner__heading">This report is due by 16th June 2024.</p>
		{% endset %}

		{{ govukNotificationBanner({
  			html: html
		}) }} -->


			<p class="govuk-body govuk-!-margin-bottom-7">Due by 16th February 2024
			<br><span class="govuk-body-s">Last updated: 16th February 2024 by Alex Smith</span></p>
		
		

		{% include "includes/task-overview.html" %}
		{% include "includes/task-issues-and-risks.html" %}
		{% include "includes/task-delivery.html" %}
		
		{% include "includes/task-expenditure.html" %}
		{% include "includes/task-outputs.html" %}
		{% include "includes/task-outcomes.html" %}
		{% include "includes/task-changes.html" %}
		<!-- {% include "includes/task-sign-off.html" %} -->


		
		<p class="govuk-body govuk-!-margin-top-7">Content to follow. All content is available under the Open Government Licence v3.0, except where otherwise stated</p>
		<form method="post" action="/project/report/check-your-answers" >
		
			{{ govukButton({
            	text: "Confirm and continue"				
          	}) }}
		
		</form>


  </div>
  <div class="govuk-grid-column-one-third">

	<!-- {% include "includes/reportBox.html "%} -->

  </div>
</div>

{% endblock %}
