{% extends "layouts/main.html" %}

{% if data['userType'] != "Section151" %}
{% set showBackLink = true %}
{% endif %}

{% set pageHeading = "Sign off and submit report" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      

      	<p class="govuk-body">((user_name)) has completed a report ready for your review.</p>

		<!-- Commented this out until we know what we are puttin gin. -->
		  <!-- <div class="govuk-inset-text">
			<p>Reporting period: <strong>July 2023 to September 2023</strong></p>
			</div> -->
	  
      
      	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      	<p class="govuk-body-l">Option to view or download report, don't include lines, only as illustration. (TBC)</p>
      	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		
		  <p class="govuk-body">You can now:</p>

		
		<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        	<li>sign off the report and submit it to ((fund_name))</li>
			<li>decline the report and provide a reason why so that ((user_name)) can amend the report and resend for review</li>
      	</ul>

		<div class="govuk-button-group">
          
        	<form method="post" action="/project/sign-off/confirmation" >	  
          		
				<input type="hidden" name="reportStatus" id="reportStatus" value="Signed" />
				{{ govukButton({
            		text: "Sign off and submit report"
          		}) }}

        	</form>

        	<form method="post" action="/project/sign-off/reason-for-decline" >

          		<input type="hidden" name="reportStatus" id="reportStatus" value="Declined" />
				{{ govukButton({
            		text: "Decline sign off",
            		classes: "govuk-button--secondary"            		
          		}) }}
  			</form>
          
        </div>

	</div>  
</div>

{% endblock %}