{% extends "layouts/main.html" %}

{% set showBackLink = true %}

{% set pageHeading = "Why have you declined this report?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      

      <p>Content about what they are doing.</p>    
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li></li>
        <li></li>
      
      </ul>

      

      <form method="post" action="/project/sign-off/confirmation?status=decline" >	  


        {{ govukTextarea({
          name: "moreDetail",
          id: "more-detail",
          label: {
            text: "Why have you declined this report",
            classes: "govuk-label--l govuk-visually-hidden",
            isPageHeading: false
          },
          hint: {
            text: "Do not include personal or financial information, like your National Insurance number or credit card details."
          }
        }) }}
        
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          
  
          
        </div>

        </form>




  </div>
  
</div>

{% endblock %}
