{% extends "layouts/main.html" %}

{% set showBackLink = true %}

{% set pageHeading = "Why have you declined this report?" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      

      	<p>Tell {{ data.reporterName }} why you’re declining this report. You could include:</p>    
      	<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        	<li>details about any corrections needed</li>
			<li>any support they might need to correct the problem</li>
      	</ul>

      	<form method="post" action="/project/sign-off/confirmation" >	  

        	{{ govukCharacterCount({
          		name: "reportReasonDeclined",
          		id: "reportReasonDeclined",
				maxwords: 300,
          		label: {
            		text: "Why have you declined this report",
            		classes: "govuk-label--l govuk-visually-hidden",
            		isPageHeading: false
          		}          		
        	}) }}          
        
          	{{ govukButton({
            	text: "Continue"
          	}) }}

        </form>

  </div>  
</div>
{% endblock %}
