{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set serviceName = "Find monitoring data" %}

{% set pageHeading = "Request received" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">    	

        {{ govukPanel({
            titleText: pageHeading            
        }) }}
		        
        <h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next</h2>
        <p class="govuk-body">We will email a link to <span class="govuk-!-font-weight-bold">user@levellingup.gov.uk</span>.</p>
        <p class="govuk-body">This may take up to 5 minutes to be delivered to your inbox.</p>

        <h2 class="govuk-heading-m">If you’ve not recieved the email</h2>
        <p class="govuk-body">If you cannot see the email in your inbox, check your junk or spam folder. If you’re still having problems, <a href="#">request a new link to download your data</a> or email us at <a href="mailto:fsd.support@levellingup.gov.uk">fsd.support@levellingup.gov.uk</a>.</p>

  	</div>	  
</div>

{% endblock %}





