{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set serviceName = "Find monitoring data" %}

{% set pageHeading = "Get monitoring and evaluation data" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		{% if data['error'] == "show" %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: [
			  {
				text: "Select which format you need",
				href: "#"
			  }
			  
			]
		  }) }}

		  {% endif %}


    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}      

		<p class="govuk-body">Use the filters to select the data you need.</p>		
		<p class="govuk-body">You will get all of the data from all projects and programmes if you do not select any filters.</p>

	</div>
</div>
		
		
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
		
				<!-- {{ govukAccordion({
		  	  		id: "accordion-default",
		  			items: [
					  { heading: { text: "Filter by funds" }, content: { html: '<p class="govuk-body">This is the content for Writing well for the web.</p>' } },
					  { heading: { text: "Filter by regions" }, content: { html: '<p class="govuk-body">This is the content for Writing well for specialists.</p>' } },
					  { heading: { text: "Filter by funded organisation" }, content: { html: '<p class="govuk-body">This is the content for Know your audience.</p>' } },
					  { heading: { text: "Filter by outcomes" }, content: { html: '<p class="govuk-body">This is the content for How people read.</p>' } },
					  { heading: { text: "Filter by return periods" }, content: { html: '<p class="govuk-body">This is the content for How people read.</p>' } }
		  			]
				}) }}	
				 -->
				
				<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
					
					<div class="govuk-accordion__section">
						<div class="govuk-accordion__section-header">
							<h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-1">Filter by funds</span></h2>
						</div>
						<div id="accordion-default-content-1" class="govuk-accordion__section-content">
							<p class="govuk-body">This is example content for section.</p>
							{% include "includes/find/funds-filter.html" %}
						</div>
				  	</div>
				  	
					<div class="govuk-accordion__section">
						<div class="govuk-accordion__section-header">
					  		<h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-2">Filter by regions</span></h2>
						</div>
						<div id="accordion-default-content-2" class="govuk-accordion__section-content">
							
							
					    	{% include "includes/find/region-filter.html" %}
						</div>
					</div>
				  	
					<div class="govuk-accordion__section">
						<div class="govuk-accordion__section-header">
					  		<h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-3">Filter by funded organisation</span></h2>
						</div>
						<div id="accordion-default-content-3" class="govuk-accordion__section-content">
					    	{% include "includes/find/organisation-filter.html" %}
						</div>
					</div>
				  	
					<div class="govuk-accordion__section">
						<div class="govuk-accordion__section-header">
							<h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-4">Filter by outcomes</span></h2>
						</div>
						<div id="accordion-default-content-4" class="govuk-accordion__section-content">
							{% include "includes/find/outcomes-filter.html" %}
						</div>
					</div>
				  
				  	<div class="govuk-accordion__section">
					  	<div class="govuk-accordion__section-header">
					  		<h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button" id="accordion-default-heading-4">Filter by return periods</span></h2>
						</div>
					    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
							<p class="govuk-body">Each quarter is inclusive and up to the end of the month.</p>
							
							
							
							
							<!-- Each quarter is inclusive and up to the end of the month, for example, April to the end of June for Q1. -->
							{% include "includes/find/period-filter.html" %}
						</div>
					</div>
				
				</div>				
													
		</div>
		<div class="govuk-grid-column-two-thirds">
			
		</div>
		</div>
		
		
		
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<div class="govuk-inset-text">
			<p class="govuk-body">We will:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>send you an email to the address you’ve signed in with</li>
				<li>include a link in the email for you to download your data</li>
			</ul>
		</div>

		<form action="/get-monitoring-data/confirmation" method="post" >

			{% if data['error'] == "show" %}

			{{ govukRadios({			
				name: "dataFormat",
				fieldset: {
				  legend: {
					text: "Which format do you need?",
					isPageHeading: false,
					classes: "govuk-fieldset__legend--s"
				  }
				},			
				items: [
				  { value: "excel", text: "XLSX (Microsoft Excel)" },
				  { value: "json", text: "JSON" }
				],
	
	
				errorMessage: {
					text: "Select which format you need"
				  }
			}) }}	


			{% else %}

		{{ govukRadios({			
			name: "dataFormat",
			fieldset: {
			  legend: {
				text: "Which format do you need?",
				isPageHeading: false,
				classes: "govuk-fieldset__legend--s"
			  }
			},			
			items: [
			  { value: "excel", text: "XLSX (Microsoft Excel)" },
			  { value: "json", text: "JSON" }
			]
		}) }}		
		
		{% endif %}
		
		<input type="hidden" id="emailAddress" name="emailAddress" value="brian.coult@levellingup.gov.uk" />

			{{ govukButton({
				text: "Confirm and request data "
			}) }}

		</form>

		<p class="govuk-!-font-size-19"><a class="govuk-link govuk-link--no-visited-state" href="">Access the funding glossary</a></p>
		

		{% if data['error'] == "show" %}
			<p class="govuk-!-font-size-16 govuk-!-margin-top-9"><a href="/get-monitoring-data/download-data?error=">Hide error</a></p>
		{% else %}
			<p class="govuk-!-font-size-16 govuk-!-margin-top-9"><a href="/get-monitoring-data/download-data?error=show">Show error</a></p>
		{% endif %}
 
  	</div>	  


</div>

{% endblock %}
