{% extends "layouts/email.html" %}



{% set title = "Your report has been sent for review" %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ title }}</h1>        
    
    <p>Your report for ((fund name)) has been sent to ((user_name_and_role)) and ((user_name_and_role)) for review.</p>

    <h2 class="govuk-heading-m">What happens next</h2>	

    <p>Once reviewed, your report will either be submitted or declined - you'll be sent an email to let you know.</p>

    <p>If your report is declined, the email will contain information about why the report was declined and you will be able to correct any issues and resend the report for another review.</p>

    <h2 class="govuk-heading-m">Get help</h2>	

    <p>If you have any questions or need help, email us at fsd@levellingup.gov.uk.</p>
    
    
    





  
    <p class="govuk-body-s govuk-!-margin-top-9"><a href="/emails/section151">Go to email sent to Section 151 officer</a></p>



  </div>
</div>

{% endblock %}
