{% extends "layouts/email.html" %}



{% set title = 'Review needed: funding progress report for ' +  data.organisationName  + '' %}

{% block pageTitle %}
  {{title}} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ title }}</h1>        
    
    <p>{{ data.reporterName }} from {{ data.fundName }} has sent you a report to be reviewed.</p>

    <div class="govuk-inset-text">
      <p>Reporting period: <strong>{{ data.reportPeriod }}</strong></p>
      </div>

    

    <h2 class="govuk-heading-m">What happens next</h2>	

    <p>Once signed in, you can review the report. If there are no problems, you can sign off the report and submit it to {{ data.fundName }}.</p>

    <p>If there are any issues with the report, you can decline it so {{ data.reporterName }} can correct it and resend. When you decline a report, you’ll be able to explain why and the reporter will be able to make amendments before resending for review.</p>

    <p>You need to review the report by {{ data.fundDate }}.</p>

    <p><a href="/sign-in?userType=Section151">Sign in to review the report</a></p>

    <h2 class="govuk-heading-m">Get help</h2>	

    <p>If you have any questions or need help, email us at <a href="mailto:fsd@levellingup.gov.uk">fsd@levellingup.gov.uk</a>.</p>
   

    



  </div>
</div>

{% endblock %}
