{% extends "layouts/main.html" %}

{% set showBackLink = false %}

{% set pageHeading = "Reporting funding progress" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      <ul class="govuk-list govuk-body-s">
        <li>Last updated: <span class="govuk-!-font-weight-bold">8 May 2024</span></li>
        <li>Prototype version: {{releaseVersion}}</li>
      </ul>

      <h2 class="govuk-heading-m">Temporary links</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/listings">Page listings ( in flux as they are built )</a></li>
        <li><a href="/data">Session data</a></li>
      </ul>

  </div>
</div>

{% endblock %}
