{% extends "/layouts/main.html" %}
{% set showBackLink = false %}

{% set pageHeading = "Page listings" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }} 

        <p class="govuk-body-s">Last updated 13 May 2024</p>
        <p class="govuk-body govuk-!-margin-bottom-7">Some pages have dynamic content, so if using the links and not navigating through the service flows that lead to each page, its not always possible to show the right content for all scenarios.</p>

    </div>
    <div class="govuk-grid-column-full">
            
           
            
            {% set reportHtml %}                            
                <h3 class="govuk-heading-m">Report</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/project/" >Project Overview</a></li>                                                
                    <ul class="govuk-list govuk-list--bullet">                        
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/overview/progress-summary" >Progress summary</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/overview/communications" >Upcoming communications</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/overview/rag" >RAG rating</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/overview/challenges" >Project challenges</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/overview/riba" >RIBA reporting</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/delivery-plan/milestones/" >Project milestones</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/issues-risks/issues" >Project issues</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/issues-risks/risks" >Issues and risks</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/expenditure/" >Project expenditure</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/outputs/" >Project outputs</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/outcomes/" >Project outcomes</a></li>                                                
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/changes/" >Project changes</a></li>                            
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/project/sign-off-and-submission/" >Sign off and submit project report</a></li>                            
                    </ul>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/project/support/" >Project support</a></li>                            
                    <li><a class="govuk-link govuk-link--no-visited-state" href="/project/users/" >Project users</a></li>                
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/users/edit" >Edit a user</a></li>
                    </ul>            
                </ul>              
            {% endset -%}  

            {% set toFollowHtml %}                            

            
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/service-start" >Start page</a></li>                                            
                <li><a class="govuk-link govuk-link--no-visited-state" href="/gov-gateway/sign-in" >Sign in using Government Gateway</a></li>                                            
                <li><a class="govuk-link govuk-link--no-visited-state" href="/programmes" >Programmes</a></li>    
                                                          
            </ul>  
                
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link govuk-link--no-visited-state" href="/help" >Help</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/privacy-notice" >Privacy Notice</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/terms-and-conditions" >Terms and conditions</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/cookies">Cookies</a></li>
                <li><a class="govuk-link govuk-link--no-visited-state" href="/accessibility">Accessibility</a></li>
            </ul>  
            
            {% endset -%}  

            <!-- Tabs -->
            {{ govukTabs({
                items: [           
                { label: "Report", id: "report", panel: { html: reportHtml } },                        
                { label: "Service main pages", id: "tofollow", panel: { html: toFollowHtml } }                    
                ]
            }) }}

            <p><a class="govuk-link govuk-link--no-visited-state" href="/data">Data been stored as part of current session</a></p>


    </div>
</div>

{% endblock %}
