{% extends "layouts/main.html" %}

{% set showBackLink = true %}
{% set showNav = true %}
{% set showBread = true %}



{% set pageHeading = "Pathfinders" %}
{% set pageSection = "Warwickshire county council " %}


{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}
		
	</div>
	<div class="govuk-grid-column-three-quarters">

		<h2 class="govuk-heading-m">Reports due</h2>
		{{ govukSummaryList({				
			card: { title: { text: "Due by 10 December 2024" }, actions: { items: [ { href: "/project/pathfinders-report", classes: "govuk-link--no-visited-state", text: "Start report", visuallyHiddenText: "for this project" } ] } },	
			rows: [				
				
				{ key: { text: "Reporting period" }, value: { html: "1 April 2024 to 30 September 2024" } },				
				{ key: { text: "Reporters" }, value: { html: "Gemma Currie" }, actions: { items: [ { href: "/project", classes: "govuk-link--no-visited-state", text: "Change", visuallyHiddenText: "for this project" } ] } },
				{ key: { text: "Sign-off" }, value: { html: "Kate Harries" }, actions: { items: [ { href: "/project", classes: "govuk-link--no-visited-state", text: "Change", visuallyHiddenText: "for this project" } ] } }
				
			]
	  	}) }}

		  
		  <!-- { key: { text: "Reporting period" }, value: { html: "February 2024 to April 2024" } },	 -->

		  <!-- { key: { text: "Date submitted" }, value: { html: 'Not started' } } -->

		  <h2 class="govuk-heading-m govuk-!-margin-top-9">Submitted reports</h2>

		  {{ govukSummaryList({		
			card: { title: { text: "Submitted 30 May 2024" }, actions: { items: [ { href: "/project", classes: "govuk-link--no-visited-state", text: "View report", visuallyHiddenText: "for this project" } ] } },	
			rows: [				
				
				{ key: { text: "Reporting period" }, value: { html: "November 2023 to January 2024" } },				
				{ key: { text: "Reporters" }, value: { html: "Gemma Currie" } },
				{ key: { text: "Sign-off" }, value: { html: "Kate Harries" } }
				
			]
	  	}) }}

		  {{ govukSummaryList({		
			card: { title: { text: "Submitted 28 February 2024" }, actions: { items: [ { href: "/project", classes: "govuk-link--no-visited-state", text: "View report", visuallyHiddenText: "for this project" } ] } },	
			rows: [				
				
				{ key: { text: "Reporting period" }, value: { html: "August 2023 to October 2023" } },				
				{ key: { text: "Reporters" }, value: { html: "Gemma Currie" } },
				{ key: { text: "Sign-off" }, value: { html: "Kate Harries" } }
				
			]
	  	}) }}

		  <!-- { key: { text: "Date submitted" }, value: { html: '28 February 2024' } } -->

	</div>


	<div class="govuk-grid-column-full">

		
		<!-- {{ govukTable({
			caption: "Reports",
			captionClasses: "govuk-table__caption--m",
			firstCellIsHeader: true,
			head: [
				{ text: "Period", classes: "app-custom-class" },
			  	{ text: "Reporter", classes: "app-custom-class" },
			  	{ text: "Date submitted", classes: "app-custom-class" },
			  	{ text: "", classes: "app-custom-class" }
			],
			rows: [
				[ { text: "February 2024 to April 2024" }, { text: "Gemma Currie" }, { html: 'Not started' }, { html: '<a href="/project/">Create report</a>' } ],
			  	[ { text: "November 2023 to January 2024" }, { text: "Gemma Currie" }, { text: "30 May 2024" }, { html: '<a href="/project/view">View</a>' } ],
			  	[ { text: "August 2023 to October 2023"}, { text: "Gemma Currie"}, { text: "28 February 2024"}, { html: '<a href="/project/view">View</a>' } ]			  			
			]
		  }) }} -->

	</div>


</div>

{% endblock %}