{% extends "layouts/nonav.html" %}

{% set showBackLink = false %}

{% set pageHeading = "Submit your report funding progress" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      	<p>Actual page content to follow.</p>
		<p class="govuk-body">Vivamus efficitur turpis arcu, id hendrerit turpis convallis et. Sed massa sapien, scelerisque id nunc vitae, porta consequat lorem.</p>
		<p class="govuk-body">Vivamus efficitur turpis arcu, id hendrerit turpis convallis et. Sed massa sapien, scelerisque id nunc vitae, porta consequat lorem.</p>

		{% if data['useOneLogin'] == "Yes" %}

		{{ govukButton({
        	text: "Start now",
        	href: "/oneLogin/",
        	isStartButton: true,
			classes: "govuk-!-margin-top-5"
      	}) }}

		{% else %}
      	
		{{ govukButton({
        	text: "Start now",
        	href: "/sign-in",
        	isStartButton: true,
			classes: "govuk-!-margin-top-5"
      	}) }}

		{% endif %}


      	<h2 class="govuk-heading-m">Before you start</h2>
    	<p class="govuk-body">Vivamus efficitur turpis arcu, id hendrerit turpis convallis et. Sed massa sapien, scelerisque id nunc vitae, porta consequat lorem.</p>
		
		<h3 class="govuk-heading-s">If you need help using the service</h3>
		<p class="govuk-body">Vestibulum a orci ac <a href="#">nunc ultricies fringilla</a> sit amet eget massa.</p>
    
  	</div>
</div>

{% endblock %}
