{% extends "layouts/main.html" %}

{% set showBackLink = false %}

{% set pageHeading = "Sign in" %}
{% set pageSection = "" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

      	<p class="gocuk-body">Sign in using the Microsoft account for your work email address.</p>

      	<form method="post" action="/programmes" >
        	
			{{ govukButton({
        		text: "Sign in",        	        	
				classes: "govuk-!-margin-top-5"
      		}) }}
      	
		</form>
      
      	<ul class="govuk-list">
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">I have forgotten my password</a></li>            			
        </ul>

  	</div>
</div>

{% endblock %}
