{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}


{% block beforeContent %}

{% if showPhaseBanner != false %}
{{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: "This is a prototype. It is not a real service."
}) }}
{% endif %}

        {% if showBackLink != false %}
            {{ govukBackLink({
                text: "Back",
                href: "javascript:history.go(-1)"
            }) }}
        {% endif %}


        {% if showBread == true %}
        {{ govukBreadcrumbs({
          items: [
            { text: "Programmes", href: "/programmes" },
            { text: "Regenerating Manchester Green Spaces", href: "/project/" }
            
          ]
        }) }}
        {% endif %}


		{{ xGovukPrimaryNavigation({
        	visuallyHiddenTitle: "Navigation",
          	items: [		  		
				{ text: "Programmes", href: "/programmes", current: true }, 
				{ text: "Support", href: "#" }
			]
        }) }}


        {% if showNav == true %}
        {{ xGovukSecondaryNavigation({
            visuallyHiddenTitle: "Secondary menu",
            items: [
            	{ text: "Programme details", href: "/project/" }, 
				{ text: "Project reports", href: "/project/", current: true }, 
              	{ text: "Users", href: "/users/" }
            ]
        }) }}
    {% endif %}
        

{% endblock %}