{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}

{% block beforeContent %}

	<!-- Phasebanner -->
	{% if showPhaseBanner != false %}
		{{ govukPhaseBanner({
			tag: { text: "Prototype" },
			html: "This is a prototype. It is not a real service."
		}) }}
	{% endif %}
	
	<!-- Primary Nav -->
	{% if showNav == true %}
		{{ xGovukSecondaryNavigation({
			visuallyHiddenTitle: "Secondary menu",
			items: [							
				{ text: "Users", href: "/users/" },
				{ text: "Programmes and projects", href: "/dashboard" }
			]
		}) }}
	{% endif %} 

	<!-- Back Link -->
	{% if showBackLink != false %}
		{{ govukBackLink({
			text: "Back",
			href: "javascript:history.go(-1)"
		}) }}
	{% endif %}


        <!-- {% if showBread == true %}
        {{ govukBreadcrumbs({
          items: [
            { text: "Programmes", href: "/dashboard" },
            { text: "Regenerating Manchester Green Spaces", href: "/project/" }
            
          ]
        }) }}
        {% endif %}


		 {{ xGovukPrimaryNavigation({
        	visuallyHiddenTitle: "Navigation",
          	items: [		  		
				{ text: "Pathfinders", href: "/programmes", current: true }, 
				{ text: "Levelling up Fund", href: "#" }                
			]
        }) }} -->



        
        

{% endblock %}


{% block footer %}
    {{ govukFooter({
      meta: {
        html: '        
          <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help" rel="noreferrer noopener" target="_blank">Help</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/privacy-notice" rel="noreferrer noopener" target="_blank">Privacy notice</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/terms-and-conditions" rel="noreferrer noopener" target="_blank">Terms and conditions</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/cookies" rel="noreferrer noopener" target="_blank">Cookies</a></li>
              <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/accessibility" rel="noreferrer noopener" target="_blank">Accessibility</a></li>
          </ul>
          <p><a class="govuk-body-s govuk-footer__link" href="/manage-prototype/clear-data" >Clear data</a> | <a class="govuk-body-s govuk-footer__link" href="/manage-prototype" >Manage prototype</a></p>',


        items: [

        ]
      }
    }) }}
  {% endblock %}